.Wrapper {
  display: flex;
  background: var(--primary-color);
  padding: 6px 8px;
  color: var(--text-color);
  border: 2px solid var(--border);
  border-radius: 8px;
}


.select {
  width: 100%;
  background: none;
  outline: none;
  border: none;
}

.select_placholder {
  padding: 50px 50px;
}

.option {
  margin-right: 0;
  color: var(--text-color);
  background: var(--primary-color);
}

