.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--primary-color);
}

.navbar_item {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar_block{
  position: relative;
}

.avatar {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logOut{
  width: 212px;
  position: absolute;
  z-index: var(--z-index);
  top:60px;
  right: 0;
  padding: 8px 15px;
  border-radius: 6px;
  background:var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(1, 74, 139, 0.04);

  &_avatar{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .listtile__indent{
    margin-bottom: 10px;
  }
}

