* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
audio,
video {
  display: inline-block;
}

img {
  border-style: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

